@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.centered-content {
  font-family: 'Oswald', sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFAF5;
}

h1 {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #323231;
}

.create-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



button {
  font-family: 'Oswald', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #FBFAF5;
  height: 40px;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #323231;
  text-transform: uppercase;
}

p {
  font-size: 22px;
}

.buttons-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button:hover {
  border: solid 3px #323231;
  color: #323231;
  background-color: #FBFAF5;
}


